[class^='listFileEntry'] > div:not([class^='listFileEntryIcon'], [class^='listFileEntryName']) {
    min-width: 150px;
    width: fit-content;
}

[class^='listFileEntryIcon'] {
    min-width: 20px;
}
[class^='listFileEntryName'] {
    min-width: 500px;
    max-width: 500px;
    width: fit-content;
}
